version: '3'
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: log_anomaly_detector
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456